main {
  background-color: rgba(41, 50, 65, 0.2);
  display: flex;
  justify-content: space-evenly;
}

.categories-div {
  min-width: 200px;
  padding: 10px;
  width: 15vw;
}

.content-div {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  height: calc(5 * (420px + 15px) + 15px);
  margin-bottom: 50px;
  margin-top: 15px;
  overflow: hidden;
  width: 80vw;
}

