.product-promotion-div {
  align-items: center;
  background-color: blue;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 15px;
  text-align: center;
  width: calc((80vw - 75px) / 5);
}


.product-promotion-div a {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 15px;
  max-height: 80%;
  text-decoration: none;
  width: 80%;
}

.name-product {
  height: 4.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  word-wrap: break-word;
}

.price-div {
  display: flex;
  font-size: 8px;
}
